h2,h3 {
    color:blue;
}

p {
    color:blueviolet;
}

body {background-color: beige;
    border: solid blue;
    margin: 5px;
    padding: 10px;
}

*{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
html {
box-sizing: border-box
}
*,*::before, *::after {
    box-sizing: inherit;
}

table, th, td {
    width: 50%;
    border: 2px solid black;
    padding: 12px;
    border-collapse: collapse;
    background-color:lightblue;

}

#likes {
    color: green;
}

div0{
    position: fixed;

}
div1, div4 {
    position: absolute;
    right: 30px;
}

Input[type=button] {
    border: 1px solid black;
    margin: 5px;
    background-color: lightblue;
}

